body.jha-body {
	font-family: tahoma;	/*, arial, tahoma, verdana, sans-serif, 'open sans'*/
	font-size: 1.4em;		/*only used for Loading... text */
	margin: 0;
	padding-top: 75px;		/*to make room for bootstrap navbar-fixed-top*/
}

.testing {
  width: percentage(4/8);
}