		<div class="jha-toolbar">
			<ul class="jha-toolbar-list">
				<li class="jha-toolbar-item jha-control"><select class="jha-toolbar-select" autofocus=""><option>All records</option></select></li>
				<li class="jha-toolbar-item jha-toolbar-separator">|</li>
				<li class="jha-toolbar-item">From:</li>
				<li class="jha-toolbar-item jha-control"><input type="date" class="jha-toolbar-input" [(ngModel)]="toolbar.fromDate" size="10" maxlength="10" placeholder="yyyy-MM-dd" /></li>
				<li class="jha-toolbar-item jha-toolbar-separator">|</li>
				<li class="jha-toolbar-item">To:</li>
				<li class="jha-toolbar-item"><input type="date" class="jha-toolbar-input" [(ngModel)]="toolbar.toDate" size="10" maxlength="10" placeholder="yyyy-MM-dd" /></li>
				<li class="jha-toolbar-item jha-toolbar-separator">|</li>
				<li class="jha-toolbar-item"><input type="checkbox" class="jha-toolbar-checkbox" [(ngModel)]="view.showAdvanced">Advanced...</li>
				<li class="jha-toolbar-item"><button class="jha-toolbar-push-button" type="button" (click)="refresh()">OK</button></li>
				<li class="jha-toolbar-item"><button class="jha-toolbar-image-button" type="button" title="Toggle Detail Mode"><img src="assets/images/ViewExceptionItemList_16.png" /></button></li>
				<li class="jha-toolbar-item"><button class="jha-toolbar-image-button" type="button" title="Print"><img src="assets/images/Print_16.png" /></button></li>
				<li class="jha-toolbar-item"><button class="jha-toolbar-image-button" type="button" title="Email Document"><img src="assets/images/Email_16.png" /></button></li>
			</ul>
			<div [hidden]="!view.showAdvanced">
				<ul class="jha-toolbar-list">
					<li class="jha-toolbar-item">Type:</li>
					<li class="jha-toolbar-item"><select class="jha-toolbar-select"><option>All Transactions</option></select></li>
					<li class="jha-toolbar-item jha-toolbar-separator">|</li>
					<li class="jha-toolbar-item"><input type="checkbox" class="jha-toolbar-checkbox" [(ngModel)]="view.showDrafts">Drafts</li>
					<li class="jha-toolbar-item jha-toolbar-separator">|</li>
					<li class="jha-toolbar-item">Drafts From:</li>
					<li class="jha-toolbar-item"><input type=number class="jha-toolbar-input" id=draftFrom size="13" maxlength="13" placeholder="0" [disabled]="!view.showDrafts" /></li>
					<li class="jha-toolbar-item jha-toolbar-separator">|</li>
					<li class="jha-toolbar-item">To:</li>
					<li class="jha-toolbar-item"><input type="number" class="jha-toolbar-input" id="draftTo" size="13" maxlength="13" placeholder="999999" [disabled]="!view.showDrafts" /></li>
				</ul>
				<ul class="jha-toolbar-list">
					<li class="jha-toolbar-item">Amt. Search:</li>
					<li class="jha-toolbar-item">
						<select class="jha-toolbar-select" [(ngModel)]="toolbar.searchAmountType">
							<option value="0"></option>
							<option value="1">Balance Chg</option>
							<option value="2">Trans Amt</option>
						</select>
					</li>
					<li class="jha-toolbar-item jha-toolbar-separator">|</li>
					<li class="jha-toolbar-item">Amt:</li>
					<li class="jha-toolbar-item"><input type="number" class="jha-toolbar-input" id="searchAmount" size="13" maxlength="13" placeholder="0.00" [disabled]="toolbar.searchAmountType == 0" /></li>
					<li class="jha-toolbar-item jha-toolbar-separator">|</li>
					<li class="jha-toolbar-item">Var +/-:</li>
					<li class="jha-toolbar-item"><input type="number" class="jha-toolbar-input" id="searchVariance" size="13" maxlength="13" placeholder="0.00" [disabled]="toolbar.searchAmountType == 0" /></li>
				</ul>
			</div>
		</div>

		<table class="jha-table">
			<thead>
				<tr class="jha-column-header">
					<th class="jha-date jha-column-heading">Post Date</th>
					<th class="jha-text jha-column-heading">ID</th>
					<th class="jha-date jha-column-heading">Eff Date</th>
					<th class="jha-text jha-column-heading">Transaction</th>
					<th class="jha-money jha-column-heading">Trans Amt</th>
					<th class="jha-money jha-column-heading">Balance Chge</th>
					<th class="jha-money jha-column-heading">Int/Pnlty</th>
					<th class="jha-money jha-column-heading">Fees</th>
					<th class="jha-money jha-column-heading">New Balance</th>
					<th class="jha-text jha-column-heading">Description</th>
				</tr>
			</thead>
			<tbody *ngFor="#message of messages.$items" [ngSwitch]="message.CmtFlag">
				<tr *ngSwitchDefault>
					<td class="jha-date">{{message.PostDate | jhaDateString }}</td>
					<td class="jha-text">{{message.IDType == '0' ? 'S' : 'L'}} {{message.ID}}</td>
					<td class="jha-date">{{message.EffDate | jhaDateString}}</td>
					<td class="jha-text">{{message.Tran }}</td>
					<td class="jha-money">{{message.TranAmount | jhaMoney | number:'1.2-2' }}</td>
					<td class="jha-money">{{message.BalChg | jhaMoney | number:'1.2-2' }}</td>
					<td class="jha-money">{{message.IntPen | jhaMoney | number:'1.2-2' }}</td>
					<td class="jha-money">{{message.Fee | jhaMoney | number:'1.2-2' }}</td>
					<td class="jha-money">{{message.NewBal | jhaMoney | number:'1.2-2' }}</td>
					<td class="jha-text">{{message.description}}</td>
				</tr>
				<tr *ngSwitchWhen="'1'">
					<td colspan="3"></td>
					<td colspan="7" class="jha-comment">{{message.Comment}}</td>
				</tr>
			</tbody>

		</table>
